@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif
}

body {
  background-color: #6b7caa;
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.diary-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 650px;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  outline: 2px solid rgba (0, 0, 0, 0.1);
  overflow: scroll;
}

h1 {
  margin: 32px;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}

.diary-form {
  margin-bottom: 32px;
}

.diary-quote {
  font-style: italic; 
  color: rgb(111, 118, 150); 
  margin-left: 50px;
  margin-right: 50px; 
  text-align: center; 
}

.diary-input {
  padding: 14px 32px 14px 16px;
  margin-right: 10px;
  border-radius: 4px;
  border-width: 0.3px;
  height: 50px;
  width: 400px;
  outline: 2px solid rgba (0, 0, 0, 0.1);
}

.diary-date-input {
  border-radius: 4px;
  border-width: 0.3px; 
  padding: 5px;
  height: 50px;
  width: 160px; 
}

.diary-textarea {
  padding: 14px 32px 14px 16px;
  margin-top: -15px;
  border-radius: 4px;
  border-width: 0.5px; 
  width: 90%;
}

.diary-button {
  padding: 10px;
  font-size: 17px;
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
  outline: none;
  background: rgb(45, 65, 114);
  color: white;
  text-transform: capitalize;
  align-self: center;
  margin-left: 30px;
}

.diary-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.diary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  box-shadow: 0px 10px 15px 15px rgba(0,0,0,0.1);
  background: black;
  color: white
}

.delete {
  font-size: 22px;
}

.date {
  font-size: 15px;
  margin-right: 5px;
}

.generate-quote-button {
  position: relative; 
  float: center; 
  width: 200px; 
  margin-top: 100px; 
  left: 50%; 
  transform: translateX(-50%); 
  padding: 10px 20px; 
  font-size: 16px; 
  color: #333; 
  background-color: #e5e6f7; /* Light grey background */
  border: none; /* No border */
  border-radius: 5px; /* Rounded edges */
  cursor: pointer; /* Pointer cursor */
  outline: none; /* Remove highlight on focus */
}

.generate-quote-button:hover {
  color: #e5e6e7; /* Dark grey text */
  background-color: #5169ba; /* Darker grey on hover */
}

