@import url('https://fonts.googleapis.com/css2?family=Garamond&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Garamond', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #d4e7cd;  /* Very light gray background */
  padding: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.diary-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 650px;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  outline: 2px solid rgba(213, 239, 208, 0.757);
  overflow: scroll;
}

h1 {
  margin: 32px;
  font-size: 33px;
  color: #2E4053;  /* Dark blue-gray for the title */
}

.complete {
  text-decoration: line-through;
}

.diary-form {
  margin-bottom: 32px;
}

.diary-quote p {
  margin-top: 0;  /* Remove space above */
  margin-bottom: 5px;  /* Adjust space below */
}

.diary-quote {
  font-style: italic;
  color: #99653a;  /* Muted terracotta for the quote */
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;  /* Adjust space below */
  text-align: center;
  font-size: 17px;
}

.diary-input {
  padding: 14px 32px 14px 16px;
  margin-right: 10px;
  border-radius: 4px;
  border-width: 0.3px;
  height: 50px;
  width: 400px;
  background-color: #F1F1F1;  /* Very light gray background for input fields */
  border: 1px solid #D1D1D6;  /* Soft gray border */
}

.diary-date-input {
  border-radius: 4px;
  border-width: 0.3px;
  padding: 5px;
  height: 50px;
  width: 160px;
  color:rgba(84, 83, 88, 0.757); 
  background-color: #F1F1F1;  /* Very light gray background */
  border: 1px solid #D1D1D6;  /* Soft gray border */
}

.diary-textarea {
  padding: 14px 32px 14px 16px;
  margin-top: -15px;
  border-radius: 4px;
  border-width: 0.5px;
  width: 571.2px;
  background-color: #F1F1F1;  /* Very light gray background */
  border: 1px solid #D1D1D6;  /* Soft gray border */
}

.diary-button {
  padding: 10px;
  font-size: 17px;
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 4px;
  margin-top: 7px;
  cursor: pointer;
  outline: none;
  background: #bd926f;  /* Soft coral pink */
  color: white;
  text-transform: capitalize;
  align-self: center;
  margin-left: 30px;
}

.diary-button:hover {
  background: #865f36;  /* Slightly darker coral pink on hover */
}

.diary-container {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #e0b7a0;  /* Soft coral pink background */
}

.diary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  background: #F1F1F1;  /* Very light gray background for rows */
  color: #2E4053;  /* Dark blue-gray for row text */
}

.diary-row:hover {
  background: #F7F7F7;  /* Light gray hover effect */
}

.delete {
  font-size: 22px;
}

.date {
  font-size: 15px;
  margin-right: 5px;
}

.generate-quote-button {
  position: relative;
  float: center;
  width: 200px;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #c4b198;  /* Muted olive green */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.generate-quote-button:hover {
  color: #ffffff;
  background-color: #e3c8ac;  /* Darker muted olive green on hover */
}
