body.light-mode { 
  --background-color: rgb(220, 200, 165);
  --text-color: black;
}

body.dark-mode {
  --background-color: rgb(46, 46, 46);
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}